name: Ruff

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Ruff check
        run: uv tool run ruff@0.14.10 check --output-format=github .

      - name: Ruff format
        run: uv tool run ruff@0.14.10 format --check .
